   body {
    margin-top:100px;
    }
  
    
  
    .labels {
      margin-left: 410px;
    }
    
    .submit {
      margin-left: 410px;
    }
  
    .label_select {
      margin-left: 410px;
    }
   
  
  #female{
    margin-left:10px;
  }
  
  #male{
    margin-left:24px;
  }
  #other{
    margin-left:21px;
  }
  
  
  
  #about_me {
    width: 450px;
    height: 50px;
  }

  #rset {
    margin-left: 20px;
  }

header{
    padding: 10px 16px;
    background: rgb(40, 183, 202);
    color: #f1f1f1;
    text-align:center;
      position: fixed;
    width: 100%;
    top: 0;
  
}